:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --mainWhite: #fff;
  --mainBackground: #f1f5f8;
  --mainBlack: #222;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --fullWidth: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 0.875rem;
  font-weight: 200;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

.btn,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}

.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}

.section {
  padding: 1rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.launches-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  align-items: start;
}
@media screen and (min-width: 576px) {
  .launches-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

.launches {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}
.launches:hover {
  box-shadow: var(--darkShadow);
}
.launches img {
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.launch-footer {
  padding: 1.1rem;
}
.launch-footer h3,
.launch-footer h4,
.launch-footer p {
  margin-bottom: 0.3rem;
}
.launch-footer h3 {
  font-size: 1.2rem;
}
.launch-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}

.search {
  margin-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
  text-align: center;
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}

.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.lds-ripple {
  display: block;
  position: relative;
  width: 80px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #476a2e;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.like-icon {
  width: 1.25rem;
  height: 1.25rem;
  border-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  float: right;
  background: var(--mainWhite);
  transition: all 0.3s linear;
  transform: scale(1.2);
}

.like-icon:hover {
  transform: scale(2);
}

.red-like-icon {
  width: 1.25rem;
  height: 1.25rem;
  border-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  float: right;
  transition: all 0.3s linear;
  transform: scale(1.2);
  background-color: red;
}
.logo {
  width: 80px;
  height: 20px;
}

.navbar-container {
  margin: 0;
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
  text-align: center;
}

.navbar-links {
  display: flex;
}
